<style>
  .sidebar-button {
    width: 100%;
  }
</style>
<nav class="dashboard-nav">
  <ul>
    <li>
      <a
        type="button"
        id="get-all-tickets-button"
        class="btn btn-dark sidebar-button"
        >Show All Tickets</a
      >
    </li>
    <!-- Button trigger modal -->

    <!-- Modal -->

    <li>
      <a class="btn btn-dark sidebar-button" href="/ticket/employee"
        >Show All Users</a
      >
    </li>
    <li>
      <a class="btn btn-dark sidebar-button" href="/ticket/employee"
        >Show All Employees</a
      >
    </li>
    <li>
      <a class="btn btn-dark sidebar-button" href="/ticket/employee"
        >Add new Employee</a
      >
    </li>
  </ul>
</nav>
